@media (max-width: 1024px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    div.booking-infor{
        width: calc(50vw - 10px);
    }
}
@media (max-width:768px){
    .footer-icon a i{
        font-size: 1.05em;
    }
    .footer-infor{
        flex-direction: column;
    }
    .left-infor, .right-infor{
        justify-content: center;
    }
    .faq-img{
        display: none;
    }
}
@media (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    div.booking-infor{
        width: calc(100vw - 10px);
    }
    .introduce{
        flex-wrap: wrap;
    }
    .intro-left{
        width: 100%;
    }
    .intro-right{
        width: 100%;
    }
    .intro-left a{
        display: inline-block;
        margin-bottom: 20px;
    }
    .banner-content a{
        margin: 0;
    }
}
