:root{
    --coffee: #7f5539;
    --line: #cecece;
    --bg-color: #f4f4f5;
    --top-m: 30px;
    --font-quote: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(29, 26, 8) ;
    background-size: cover;
    background-position: center;
    background-color: var(--bg-color);
}
.flex{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #212529;
}
nav ul li a{
    color: #212529;
    font-size: 17px;
    text-transform: uppercase;
    padding: 20px 20px;
    margin: 0 5px;
    border-radius: 3px;
}
.navbar .logo img{
    position: absolute;
    width: 150px;
    top: 5px;
    left: 30px;
}
.links a:hover{
    background: lightgray;
    transition: .5s;
}
div.navbar{
    position: relative;
}
.navbar{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.navbar .links{
    display: flex;
}
.navbar .toggle_btn{
    color: #212529;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 30px;
}
/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: lightgray;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}
.dropdown_menu.open{
    height: auto;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* INTRODUCE */
.introduce{
    padding: 0px 20px;
}
.intro-left h2{
    font-family: "cinzel";
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: normal;
}
.intro-left h3{
    font-family: "cinzel";
    font-size: 20px;
    color: var(--coffee);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.intro-left{
    width: 40%;
}
.intro-right{
    width: 60%;
}
.intro-content p{
    font-size: 16px;
    line-height: 30px;
    color: #6b6460;
    margin-bottom: 30px;
}
.intro-left a{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.7px;
    padding: 10px 24px;
    border-radius: 50px;
    border: 1px solid #5f4d45;
    color: var(--coffee);
}
.intro-left a:hover{
    background-color: #5f4d45;
    color: var(--bg-color);
    transition: 0.3s;
}

.intro-pic {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.intro-right img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* BANNER HEADER */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.banner-slider{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
}
.banner-slider img{
    width: 100%;
    height: 100%;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.banner-content {
    width: 60%;
    margin: 15em auto 0px;
    text-align: center;
    color: #fff;
}

.banner-content h3, .banner-content h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.tit2{
    font-size: 30px;
    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 36px;
}
.tit3{
    color: #45474B;
    font-size: 20px;
    padding: 20px 0px 15px;
    display: block;
    text-align: center;
}
.quote{
    text-align: center;
    margin: var(--top-m)
}
.quote > span{
    font-family: "Galano", sans-serif;
    position: relative;
    font-size: var(--font-quote);
    width: 50%;
    margin: 0 auto;
    padding: 0 20px;
}
.quote span.a::before{
    content: "“";
    position: absolute;
    display: block;
    font-size: 70px;
    color: rgb(172, 128, 83);
    left: -20px; /*di chuyen ra khoi phan tu chua no*/
    top: 50%;
    transform: translateY(-50%);
}
.quote span.a::after{
    content: "”";
    position: absolute;
    font-size: 70px;
    color: rgb(172, 128, 83);
    top: 50%;
    right: -20px; 
    transform: translateY(-50%)
}
span.b{
    color: var(--coffee);
    font-weight: bold;
}
div.hr-line{
    display: inline-block;
    width: 70px;
    height: 1px;
    margin: 5px 0px;
    background: var(--line);
}
div.hr-line-page{
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background: var(--line);
}
/* BOOKING SLIDER */
.booking-content{
    justify-content: center;
}
.booking-img{
    margin: 0;
    padding: 0;
}
.booking-img img{
    width: 100%;
}
div.booking-infor{
    width: 300px;
    height: auto;
    padding: 20px 10px 0px;
    margin: 5px;
}
div.booking-infor span{
    display: block;
    color: #212529;
    font-size: 16px;
    margin-left: 10px;
}
/* LUNDEV */
#list{
    display: flex;
    width: max-content;
}
#list-container{
    width: 930px; /*width cua moi item bao gom ca margin*/
    max-width: 100%;
    overflow: auto;
    margin: 20px auto;
    scroll-behavior: smooth;
}
#list-container::-webkit-scrollbar{
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.direction{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgba(0, 0, 0, 0.153);
    border-radius: 5px;
}
.direction button{
    font-family: cursive;
    border: none;
    background-color: var(--bg-color);
    padding: 0 20px;
    height: 50px;
    border-radius: 5px;
}

.feedback-upper-container{
    width: 100%;
}
.feedback-upper{
    width: 70%;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.feedback-upper p{
    font-size: 15px;
}
.left-f h4, .right-f h4 {
    font-size: 30px;
    margin: 0;
}
.vertical-line{
    display: inline-block;
    width: 1px;
    height: 82px;
    margin: 0 45px;
    background: var(--line);
}
/* FEEDBACK REVIEw */
.feedback-one{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.678);
    padding: 10px 0px;
}
.feedback-content{
    padding: 20px 10px;
    margin: 0 40px;
    overflow: hidden;
}
.feedback-container{
    max-width: 1120px;
    width: 70%;
}
.swiperbutt{
    width: 50px !important;
    height: 50px !important;
    background-color: #ffffff;
    color: var(--coffee) !important;
    border-radius: 50%;
}
.swiperbutt::after, .swiperbutt::before{
    font-size: 20px !important;
}
/* +++++++++++++ */
.feedback-avt{
    width: 100px;
    margin: 0 auto;
}
.feedback-avt img{
    width: 100%;
    border-radius: 50%;
    margin: 0 0 10px 0;
}
.rating i{
    color: gold;
}
div.text{
    width: 80%;
    margin: 0 auto;
}
.text i{
    font-size: 2rem;
}
.feedback-rate{
    text-align: center;
}
/* SLIDER */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX( calc(-250px * 6));
    }
}
.slider{
    overflow: hidden;
}
.slider .slide-track {
    display: flex;
    background-color: white;
    width: calc(250px * 12);
    animation: scroll 30s cubic-bezier(.2,.54,.89,.46) infinite;
}

.slider .slide-img{
    width: 250px;
    height: 100px;
}
/* FOOTER */
footer{
    background-color: var(--coffee);
    width: 100%;
    padding:2rem 0;
}
.footer-infor{
    justify-content: space-between;
    display: flex;
}
.left-infor, .right-infor{
    display: flex;
}
.footer-infor a{
    padding: 0 10px; 
    position: relative;
}
.footer-infor a:first-child:before{
    content: "|";
    position: absolute;
    right: 0;
    color: #FFF;
}
.footer-infor a:after{
    content: "";
    position: absolute;
    left: 0;
    background-color: white;
    width:100%;
    height: 1px;
    bottom: -1px;
    transform:  scaleX(0);
    transition: 0.3s ease-in-out;
}
.footer-infor a:hover:after{
    transform: scaleX(1);
}
/* +++++++++++++ */
.footer-icon ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
}
.footer-icon a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
    display: block;
}
.left-infor a, .right-infor a{
    padding: 0 10px;
    position: relative;
    color: white;
}
.footer-icon a i{
    font-size: 1.5em;
}
.footer-copyright{
    text-align: center;
    padding: 10px 20px;
}
hr{
    width:75%;
    margin:0 auto;
}
.footer-copyright small{
    color: white;
}
.footer-copyright span{
    font-style: italic;
}