*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(29, 26, 8) ;
    background-size: cover;
    background-position: center;
    background-color: beige;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
}
a:hover{
    color: rgb(212, 255, 0);
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .togglebar{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
/* DROPDOWN MENU */
.toggle-dropdown{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background-color: rgba(84, 85, 84, 0.5);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s;
}
.toggle-dropdown > ul > li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-dropdown.open{
    height: 240px;
}
.togglebar.active {
    color: rgb(212, 255, 0);
}
/* FOOTER */
footer{
    background-color: rgb(123, 76, 0);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-infor ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.left-infor{
    text-align: left;
}
.right-infor{
    text-align: right;
}
.footer-infor a{
    padding: 0 10px;
    position: relative;
}
.left-infor ul li, .right-infor ul li{
    display: inline-table;
}
.footer-icon ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
}
.footer-icon a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.footer-icon a i{
    font-size: 2em;
}
.footer-copyright{
    text-align: center;
    padding: 10px 20px;
}
hr{
    width:75%;
    margin:0 auto;
}
.footer-copyright small{
    color: white;
}
.footer-copyright span{
    font-style: italic;
}
/* RESPONSIVE DESING */
@media (max-width:992px){
    .navbar .links{
        display: none;
    }
    .navbar .togglebar{
        display: block;
        padding: 10px;
    }
    .toggle-dropdown{
        display: block;
    }
}