
body{
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
.slider{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: all 1s;
    overflow: hidden;
}
.list img{
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
    transition: 1s;

}
.dots li.on{
    width: 30px; 
}